[submodule "app/external/glfw"]
	path = app/external/glfw
	url = https://github.com/glfw/glfw
[submodule "app/external/glm"]
	path = app/external/glm
	url = https://github.com/g-truc/glm
	branch = 0.9.8
